.width-85 {
    width: 85%;
}

.width-60 {
    width: 60%;
}

.width-40 {
    width: 40%;
}

.col-10 {
    width: 10%;
}

.col-20 {
    width: 20%;
}

.error-block {
    width: 300px;
    border: 1px solid red;
    background-color: #ffc9bf;
    border-radius: 5px;
    margin-left: 20%;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    padding: 5px;

}

.success-block {
    width: 300px;
    border: 1px solid #00ff0a;
    background-color: #aaffbd;
    border-radius: 5px;
    margin-left: 20%;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    padding: 5px;
}